[tool.poetry]

name = "elections"
version = "1.7"
description = "APIs for voter registration status and ballots in Michigan."

authors = ["Citizen Labs <info@citizenlabs.com>"]
license = "GPLv3"

[tool.poetry.dependencies]

python = "^3.7"

# Django
django = "~3.0.4"
django-grappelli = "^2.11"
django-filter = { git = "https://github.com/citizenlabsgr/django-filter", branch = "combine-filters" }
django-model-utils = { git = "https://github.com/jazzband/django-model-utils", rev = "ffa1a85dc7fe3fa8a56e8735b4ac881092abf216" }

# Django REST Framework
djangorestframework = "^3.8"
drf-yasg = "^1.9"
django-cors-headers = "^3.2.0"

# Databases
dj-database-url = "^0.5.0"
psycopg2-binary = "2.8.4"

# Caches
django-redis-cache = "*"

# Markdown
markdown = "*"
pymdown-extensions = "*"
pygments = "*"

# Utilities
beautifulsoup4 = "^4.8.2"
factory_boy = "*"
fake-useragent = "~0.1.11"
minilog = "^1.6"
nameparser = "^1.0.4"
pendulum = "*"
requests = "^2.19"
requests_cache = "*"

# Production Server
gunicorn = "^19.8"
whitenoise = "^4.1.4"
bugsnag = "^3.4"

[tool.poetry.dev-dependencies]

# Formatting
isort = "4.3.21"
black = "19.10b0"

# Linters
pylint = "~2.4.4"
pylint-django = "*"
mypy = "*"

# Testing
pytest = "^4.5"
pytest-django = "*"
pytest-describe = "^1.0"
pytest-expecter = "^2.1"
pytest-vcr = "*"
pytest-cov = "^2.7"
pytest-watch = "^4.2"
coverage = "<5"

# Reports
coveragespace = "^3.1"

# Utilities
ipdb = "~0.12.2"  # export PYTHONBREAKPOINT=ipdb.set_trace
django-extensions = "*"
pygraphviz = "*"

# Development Server
django-debug-toolbar = "*"
django-livereload-server = "*"

# Notebooks
jupyter = "^1.0.0"

[tool.black]

target_version = ['py37']
skip-string-normalization = true
