interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapps.sos.state.mi.us/MVIC/
  response:
    body: {string: "\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head id=\"ctl00_Head1\"><title>\r\n\tMichigan
        Voter Information Center\r\n</title><meta charset=\"utf-8\" /><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\" />\r\n    <script type=\"text/javascript\">\r\n
        \       function NewWindow(url) {\r\n            var screenWidth = window.screen.width;\r\n
        \           var screenHeight = window.screen.height;\r\n            var placementx
        = (screenWidth / 2) - ((600) / 2);\r\n            var placementy = (screenHeight
        / 2) - ((200) / 2);\r\n            var popUpUrl = url;\r\n            var
        winPop = window.open(popUpUrl, \"\", \"width=1024,height=768,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,left=\"
        + placementx + \",top=\" + placementy + \",screenX=\" + placementx + \",screenY=\"
        + placementy + \",\");\r\n        }\r\n    </script>\r\n    <script src=\"Scripts/jquery-3.1.1.min.js\"></script>\r\n
        \   <script src=\"Scripts/bootstrap.min.js\"></script>\r\n\r\n    <link href=\"masterpage/CommonStyleSheet.css\"
        rel=\"stylesheet\" type=\"text/css\" media=\"screen\" /><link href=\"Content/bootstrap.min.css\"
        rel=\"stylesheet\" /><link href=\"masterpage/agency.css\" rel=\"stylesheet\"
        media=\"screen\" /><link href=\"masterpage/Print.css\" rel=\"stylesheet\"
        type=\"text/css\" media=\"print\" /><link rel=\"shortcut icon\" href=\"masterpage/images/favicon.ico?v=1\"
        type=\"image/x-icon\" /></head>\r\n<body id=\"body\">\r\n    <div id=\"main-wrapper\"
        class=\"container mainWrap\">\r\n        <div role=\"navigation\" aria-label=\"Secondary\">\r\n
        \           <div class=\"navbar som-brandbar\">\r\n                <a class=\"sr-only\"\r\n
        \                   href=\"#mainArea\">Skip Navigation\r\n                </a>\r\n
        \               <div class=\"container\">\r\n                    <div class=\"navbar-header\">\r\n
        \                       <a href=\"#\"\r\n                            class=\"navbar-toggle
        collapsed\"\r\n                            data-toggle=\"collapse\"\r\n                            data-target=\".navbar-collapse\">\r\n
        \                           <span class=\"icon-bar\"></span>\r\n                            <span
        class=\"icon-bar\"></span>\r\n                            <span class=\"icon-bar\"></span>\r\n
        \                           <div class=\"menuNav\">MENU</div>\r\n                        </a>\r\n
        \                       <div class=\"collapse navbar-collapse global-links\">\r\n
        \                           <ul class=\"nav navbar-nav text-uppercase\"\r\n
        \                               data-nav-type=\"global-nav\">\r\n                                <li>\r\n
        \                                   <a href=\"http://michigan.gov/sos\">SOS
        Home</a>\r\n                                </li>\r\n                                <li>\r\n
        \                                   <a href=\"http://www.michigan.gov/sos/0,1607,7-127-13162-25634--,00.html\"
        target=\"_blank\"  rel=\"noopener noreferrer\" role=\"link\">Contact SOS</a>\r\n
        \                               </li>\r\n                            </ul>\r\n
        \                       </div>\r\n                        <ul class=\"nav
        navbar-nav navbar-right\">\r\n                            <li>\r\n                                <a
        class=\"miGovHome\"\r\n                                    href=\"http://www.michigan.gov\"\r\n
        \                                   title=\"Michigan's Official Web Site\">MI.GOV\r\n
        \                               </a>\r\n                            </li>\r\n
        \                       </ul>\r\n                    </div>\r\n                </div>\r\n
        \           </div>\r\n        </div>\r\n\r\n        <header class=\"header\"
        role=\"banner\">\r\n            <div>\r\n                <a href=\"http://michigan.gov/sos\">\r\n
        \                   <img src=\"masterpage/images/banner_seal_medium.png\"
        id=\"ctl00_logo\" class=\"logo\" title=\"michigan.gov/sos\" alt=\"Secretary
        of State Seal\" />\r\n                    <div class=\"pull-left\">\r\n                        <h1
        class=\"siteTitle\" data-som-header=\"appTitle\">Michigan Voter Information
        Center</h1>\r\n                        <span class=\"tagline\" data-som-header=\"agencyTagLine\">Ruth
        Johnson, Secretary of State</span>\r\n                    [...]
[...]
