interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapps.sos.state.mi.us/MVIC/
  response:
    body: {string: "\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head id=\"ctl00_Head1\"><title>\r\n\tMichigan
        Voter Information Center\r\n</title><meta charset=\"utf-8\" /><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\" />\r\n    <script type=\"text/javascript\">\r\n
        \       function NewWindow(url) {\r\n            var screenWidth = window.screen.width;\r\n
        \           var screenHeight = window.screen.height;\r\n            var placementx
        = (screenWidth / 2) - ((600) / 2);\r\n            var placementy = (screenHeight
        / 2) - ((200) / 2);\r\n            var popUpUrl = url;\r\n            var
        winPop = window.open(popUpUrl, \"\", \"width=1024,height=768,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,left=\"
        + placementx + \",top=\" + placementy + \",screenX=\" + placementx + \",screenY=\"
        + placementy + \",\");\r\n        }\r\n    </script>\r\n    <script src=\"Scripts/jquery-3.1.1.min.js\"></script>\r\n
        \   <script src=\"Scripts/bootstrap.min.js\"></script>\r\n\r\n    <link href=\"masterpage/main_navigation.css\"
        rel=\"stylesheet\" /><link href=\"masterpage/CommonStyleSheet.css\" rel=\"stylesheet\"
        type=\"text/css\" media=\"screen\" /><link href=\"Content/bootstrap.min.css\"
        rel=\"stylesheet\" /><link href=\"Content/bootstrap-theme.min.css\" rel=\"stylesheet\"
        /><link href=\"masterpage/agency.css\" rel=\"stylesheet\" media=\"screen\"
        /><link href=\"masterpage/Print.css\" rel=\"stylesheet\" type=\"text/css\"
        media=\"print\" /><link rel=\"shortcut icon\" href=\"masterpage/images/favicon.ico?v=1\"
        type=\"image/x-icon\" /><link href=\"masterpage/rdLayout.css\" rel=\"stylesheet\"
        /></head>\r\n<body id=\"body\">\r\n    <div id=\"main-wrapper\" class=\"container
        mainWrap\">\r\n\r\n        <div class=\"navbar som-brandbar\" role=\"navigation\">\r\n
        \           <a class=\"sr-only\" href=\"#main\">Skip Navigation</a>\r\n            <div
        class=\"container\">\r\n                <div class=\"navbar-header\">\r\n
        \                   <a href=\"#\" class=\"navbar-toggle collapsed\" data-toggle=\"collapse\"
        data-target=\".navbar-collapse\">\r\n                        <span class=\"icon-bar\"></span>\r\n
        \                       <span class=\"icon-bar\"></span>\r\n                        <span
        class=\"icon-bar\"></span>\r\n                        <div class=\"menuNav\">MENU</div>\r\n
        \                   </a>\r\n                    <div class=\"collapse navbar-collapse
        global-links\">\r\n                        <ul class=\"nav navbar-nav\" data-nav-type=\"global-nav\">\r\n
        \                           <li>\r\n                                <a href=\"http://michigan.gov/sos\">SOS
        Home</a>\r\n                            </li>\r\n                            <li>\r\n
        \                               <a href=\"http://www.michigan.gov/sos/0,1607,7-127-13162-25634--,00.html\"
        class=\"js-contactInfo\">Contact SOS</a>\r\n                            </li>\r\n
        \                           <li class=\"visible-xs-block\"><a href=\"votersearch.aspx\"
        role=\"link\">Your Vo[...]
[...]
