{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    <title>Michigan Elections API</title>
    <meta name="title" content="Michigan Elections API">
    <meta name="description" content="Citizen Labs' API for voter registration status and ballots in Michigan.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://michiganelections.io/">
    <meta property="og:title" content="Michigan Elections API">
    <meta property="og:description" content="Citizen Labs' API for voter registration status and ballots in Michigan.">
    <meta property="og:image" content="https://michiganelections.io{% static 'logo.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://michiganelections.io/">
    <meta property="twitter:title" content="Michigan Elections API">
    <meta property="twitter:description" content="Citizen Labs' API for voter registration status and ballots in Michigan.">
    <meta property="twitter:image" content="https://michiganelections.io{% static 'logo.png' %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#f55221">
    <meta name="msapplication-TileColor" content="#f55221">
    <meta name="theme-color" content="#ffffff">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-12">
          <h1 class="mt-lg-5 mt-2 mb-4">Michigan Elections API</h1>
          {{ body|safe }}
        </div>
      </div>
    </div>
  </body>
</html>
