interactions:
- request:
    body: FirstName=Jane&LastName=Doe&NameBirthMonth=1&NameBirthYear=2000&ZipCode=999999
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://mvic.sos.state.mi.us/Voter/SearchByName
  response:
    body:
      string: "\r\n\r\n<input id=\"hfPageTitle\" name=\"hfPageTitle\" type=\"hidden\"
        value=\"Your voter information\" />\r\n<input id=\"hfnotfound\" name=\"hfnotfound\"
        type=\"hidden\" value=\"False\" />\r\n<input id=\"hfmultiplevoterrecords\"
        name=\"hfmultiplevoterrecords\" type=\"hidden\" value=\"False\" />\r\n<input
        id=\"hfAcpaParticipant\" name=\"hfAcpaParticipant\" type=\"hidden\" value=\"False\"
        />\r\n<input id=\"hfAddressId\" name=\"hfAddressId\" type=\"hidden\" value=\"0\"
        />\r\n<input id=\"hfValidParticipantId\" name=\"hfValidParticipantId\" type=\"hidden\"
        value=\"False\" />\r\n\r\n<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?&callback=loadAutoSugggest'
        async defer></script>\r\n\r\n<h1 class=\"ccd-page-heading\">Your voter information</h1>\r\n\r\n\r\n<div
        class=\"row\">\r\n    <div class=\"col-xl-6 col-md-12\">\r\n        <p>\r\n
        \           This page provides helpful information about where\r\n            to
        find your clerk, polling place, and sample ballots.\r\n            Looking
        to register or update your voter registration?  Visit our\r\n            <a
        Length=\"0\" href=\"/RegisterVoter?Length=0\">registration page</a>.\r\n        </p>\r\n
        \   </div>\r\n</div>\r\n\r\n<div class=\"row\">\r\n    <div class=\"col-xl-6
        col-md-12\">\r\n        <p>\r\n            <strong>\r\n                Use
        the log in to check your:\r\n            </strong>\r\n            <ul>\r\n
        \               <li>Registration Status</li>\r\n                <li>Polling
        place, location, and hours</li>\r\n                <li>Early voting location
        and hours</li>\r\n                <li>View a sample ballot</li>\r\n                <li>Track
        an absentee ballot and more...</li>\r\n            </ul>\r\n        </p>\r\n
        \   </div>\r\n</div>\r\n\r\n<div class=\"row\">\r\n    <div class=\"col-xl-6
        col-md-12\">\r\n        <div class=\"card\">\r\n            <div class=\"card-header\">\r\n
        \               <h2 class=\"ccd-page-heading\">Search for your voter information</h2>\r\n
        \           </div>\r\n            <div class=\"card-body\">\r\n                <p>\r\n
        \                   Entering the information below helps us securely identify
        you in our database.\r\n                </p>\r\n                <p>Required
        fields are marked with an asterisk <abbr class=\"req\" title=\"required\">*</abbr>.</p>\r\n
        \               <form id=\"name-Form\" action=\"\" class=\"mb-3\">\r\n                    <div
        class=\"form-group\">\r\n                        <label class=\"control-label
        text-uppercase required-label required-label text-transform-none not-bold\"
        for=\"FirstName\">First name</label>\r\n                        <span class=\"sr-only\">,,Required,,</span>\r\n
        \                       <input class=\"form-control text-uppercase text-transform-none
        bold\" data-val=\"true\" data-val-regex=\"Please enter a valid first name.\"
        data-val-regex-pattern=\"^(?=.{1,100}$)[a-zA-Z]+(?:[-=_.`;&#39;\\s][a-zA-Z]+)*$\"
        data-val-required=\"Please enter your first name.\" id=\"FirstName\" name=\"FirstName\"
        required=\"required\" type=\"text\" value=\"Jane\" />\r\n                        <sp[...]
