interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mvic.sos.state.mi.us/Voter/GetMvicBallot/68322/690/
  response:
    body:
      string: "\r\n\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en-us\">\r\n<head>\r\n
        \   <!-- Digital Guidelines Required meta tags -->\r\n    <meta charset=\"utf-8\">\r\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\r\n
        \   \r\n    <!-- Digital Guidelines CSS -->\r\n    <link rel=\"stylesheet\"
        href=\"https://digitalguidelines.michigan.gov/cdn/3.2.0/som-components.css\"
        integrity=\"sha384-Pp+1H0t7AJGZkZGeqxlQokBSSsbLYn8rzNPBPE/uKhhZOvCPpQLn2dn/TolY47tN\"
        crossorigin=\"anonymous\">\r\n   \r\n    <!-- Ditital Guidelines Fav Icon
        -->\r\n    <link rel=\"icon\" type=\"image/png\" href=\"https://www.michigan.gov/favicon.ico\">\r\n\r\n\t<!--
        Global site tag (gtag.js) - Google Analytics -->\r\n\t<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-124923729-1\"></script>\r\n\t<script>\r\n\t\twindow.dataLayer
        = window.dataLayer || [];\r\n\t\tfunction gtag() { dataLayer.push(arguments);
        }\r\n\t\tgtag('js', new Date());\r\n\t\tgtag('config', 'UA-124923729-1');\r\n\t</script>\r\n\r\n\t<link
        href=\"/Content/css?v=DQN-ALpJmhZoH0SqzqhYTC81_oNlNOEdo_Nlj8XUx-c1\" rel=\"stylesheet\"/>\r\n\r\n\t<script
        src=\"/bundles/scripts?v=9VggyyjjLyYGdZoto7ZJddObubS-Z39URNoMiwKmtDo1\"></script>\r\n\r\n\t<script
        src=\"/bundles/errorhandlerJS?v=hZ4VM3wlHDzILWa4MetNq9Xqt9riZ7tijZ8kSfe4aZA1\"></script>\r\n\r\n\t<script
        src=\"/bundles/BingMapJS?v=XgqZHpFMh6PgxqFv2EbFUE-JrwdZK88VAIk5Ee20hLA1\"></script>\r\n\r\n\r\n
        \   <title></title>\r\n    <!-- Google Tag Manager -->\r\n    <script>\r\n
        \       (function (w, d, s, l, i) {\r\n            w[l] = w[l] || []; w[l].push({\r\n
        \               'gtm.start':\r\n                    new Date().getTime(),
        event: 'gtm.js'\r\n            }); var f = d.getElementsByTagName(s)[0], j
        = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true;
        j.src =\r\n                'https://www.googletagmanager.com/gtm.js?id=' +
        i + dl; f.parentNode.insertBefore(j, f);\r\n        })(window, document, 'script',
        'dataLayer', 'GTM-WFQ4994');</script>\r\n    <!-- End Google Tag Manager -->\r\n\r\n</head>\r\n<body>\r\n
        \   <noscript>\r\n        <img src=\"/Content/Images/DigitalGuidelineHeader.PNG\"
        alt=\"page header\" />\r\n    </noscript>\r\n\r\n    <div>\r\n        <!--
        SOM Header -->\r\n        <div id=\"header\">\r\n            <som-header app-name=\"Michigan
        Voter Information Center\" department-name=\"Department of State\" main-content-id=\"main-Content\"
        home-link=\"/Home/Index\">\r\n                <som-menu>\r\n                    <som-menu-item>\r\n
        \                       <a href=\"/Home/Index\">Home</a>\r\n                    </som-menu-item>\r\n
        \                   <som-menu-item>\r\n                        <a href=\"/Voter/Index\">Your
        voter information</a>\r\n                    </som-menu-item>\r\n                    <som-menu-item>\r\n
        \                       <a href=\"/Home/VoteAtHome\">Vote at home</a>\r\n
        \                   </som-menu-item>\r\n                    <som-menu-item>\r\n
  [...]
